* {
    box-sizing: border-box;
}

body {
    font-family: "Lato","Avenir Next",Arial,sans-serif;
    margin: 0;
    background: #ffffff;
    background-size: cover;            
}

video {
    position: absolute;
    top: 40px;
    left: 0;
    /* padding: .3em; */
    width: 100%;
    height: calc(100vh - 40px);
    -o-object-fit: cover;
        object-fit: cover;
    -o-object-position: center;
        object-position: center;
}

header{
    background: tan;
    position: fixed;
    width: 100%;
    text-align: center;
    color: white;
    -webkit-transition: .4s;
    transition: .4s;
    padding: 0.5em;
}
nav a{
    color: inherit;
    padding:  0 12px;
    text-decoration: none;
}

.overlay {
    min-height:  calc(100vh - 40px);
    /* top: 40px; */
    padding-top: 40px;
    display: -webkit-box;
    display: -ms-flexbox;    
    display: grid;
    gap: 1em 1em; 
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
       
.overlay div {
    background: #000 none repeat scroll 0 0;    
    /* background: url("pexels-omar-tapia-19317633.jpg") !important; */
    color: rgba(255, 255, 255,1);
    font-weight: 600;            
    mix-blend-mode: overlay;
    padding: 15px 15px;             
    height:  100%;
}

.wide { grid-area: wide; }
.single { grid-area: single; }
.single2 { grid-area: single2; }
.single3 { grid-area: single3; }
.single4 { grid-area: single4; }

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    body {background: red;}

    .overlay{  
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;        
        grid-auto-flow: row;
        grid-template-areas:
          "wide"
          "single"
          "single2"
          "single3"
          "single4";
      }      

}

/* full width (for big screens only) */
.boxed{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    body {background: green;}
    .overlay{  
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
        grid-auto-flow: row;
        grid-template-areas:
          "wide"
          "single"
          "single2"
          "single3"
          "single4";
      } 
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    body {background: blue;}
    .overlay {  
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-auto-flow: row;
        grid-template-areas:
          "wide single"
          "wide single2"
          "single3 single4";
      }         
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    body {background: orange;}
    .overlay {  
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-auto-flow: row;
        grid-template-areas:
          "wide single"
          "wide single2"
          "single3 single4";
      } 
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    body {background: pink;}
    .overlay {   
        grid-template-columns: 1fr 1fr 1fr 1fr; 
        grid-template-rows: 1fr 1fr; 
        grid-template-areas: 
            "wide wide single single2"
            "wide wide single3 single4";        
    }
}

